@use "global.scss" as g; //global var

* {
    margin: 0;
    padding: 0;
    font-family: g.$font;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.outer-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.content-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.form-wrapper {
    padding: 10px;
    width: 60%;
    box-sizing: border-box;
    background: g.$primary;
}

.record-wrapper {
    padding: 10px;
    width: 40%;
    background: g.$secondary;
    background-blend-mode: multiply;
    box-sizing: border-box;
}

// vertical alignment for tablet devices in portrait and mobile devices 
@media screen and (max-width: 768px) {
    .content-wrapper {
        display: flex;
        flex-direction: column;
    }

    .form-wrapper {
        width: 100%;
    }

    .record-wrapper {
        width: 100%;
    }
}