@use "global.scss" as g; //global variables

.notes {
    font-size: 0.8em;
    color: g.$notes-text;
}
.form-wrapper h1 {
    font-size: 2em;
    color: g.$primary;
    font-weight: map-get(g.$font-weight, "bold");
}
